{{! Display personal bio box with CTA's }}
<section class="bio">
    <h3>Hello.</h3>
    <p>I’m a front-end developer, architect, product developer, designer, music producer and all round tech fanatic. Basically, I love <a href="{{@blog.url}}/projects">making cool stuff</a>.</p>
    <p>You can find me on <a href="http://twitter.com/Chrisui">Twitter</a> and <a href="http://github.com/Chrisui">GitHub</a>.</p>
    <p>If you think I could help you out or just fancy say a chat why not &nbsp; <a href="{{@blog.url}}/contact">get in touch</a>!</p>
</section>